*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Edu SA Beginner', cursive;
    background-image:url('https://i.pinimg.com/564x/a4/64/41/a4644156369b6b1ca6355cffb40c5e73.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
    margin-top: 0.5rem;
    padding: 3rem;

}
h1{
    font-size: 3.5rem;
    font-weight: bold;
    text-align: center;
    color: #E6CEA0;
    font-weight: bold;
    text-decoration: underline;
}
p{
    font-size: 2rem;
    text-align: center;
    color:#89cff0;
    font-weight: bold;

}

.message{
    margin-top: 0.51rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}